Package: podman
Version: $PODMAN_VERSION
Section: base
Priority: optional
Architecture: $PACKAGE_ARCH
Depends:
  btrfs-progs,
  iptables,
  libassuan-dev,
  libbtrfs-dev,
  libc6-dev,
  libdevmapper-dev,
  libglib2.0-dev,
  libgpgme-dev,
  libgpg-error-dev,
  libprotobuf-dev,
  libprotobuf-c-dev,
  libseccomp-dev,
  libselinux1-dev,
  libsystemd-dev,
  pkg-config,
  uidmap,
  libapparmor-dev
Maintainer: Filip Prochazka <filip@luxonis.com>
Description: A tool for managing OCI containers and pods
